
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo {
    position: absolute; /* Permite posicionar el logo de manera absoluta */
    top: 15px; /* Alinea el logo en la parte superior */
    left: 275px; /* Alinea el logo a 20 píxeles de la izquierda */
    padding: 10px; /* Espaciado opcional alrededor del logo */
    z-index: 10; /* Asegúrate de que esté por encima de otros elementos */
}

.logo img {
    max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
    height: 100px; /* Mantiene la proporción de la imagen */
    width: 90px; /* Ancho fijo para la imagen */
}



body{
    background-color: #72523d;
    
   }

    
.nav {
    list-style: none; /* Eliminar los puntos de la lista */
    padding: 0; /* Eliminar el padding */
    margin: 0; /* Eliminar el margin */
}

.nav > li {
    position: relative; /* Necesario para posicionar el submenú */
    display: inline-block; /* Mostrar los elementos en línea */
    margin-right: 20px; /* Espacio entre los elementos del menú */
}

.submenu {
    display: none; /* Ocultar el submenú por defecto */
    position: absolute; /* Posicionar el submenú */
    top: 100%; /* Colocarlo justo debajo del elemento padre */
    left: 0;
    background-color: #c99e67; /* Color de fondo del submenú */
    padding: 10px;
    border: 1px solid #c99e67; /* Borde del submenú */
    z-index: 20; /* Asegurarse de que esté por encima de otros elementos */
    list-style: none;
}

.nav > li:hover .submenu {
    display: block; /* Mostrar el submenú al pasar el mouse */
}

.submenu li {
    margin: 5px 0; /* Espacio entre los elementos del submenú */
}

.submenu a {
    color: #72523d; /* Color del texto del submenú */
    text-decoration: none; /* Sin subrayado */
}

.submenu a:hover {
    text-decoration: underline; /* Subrayar al pasar el mouse */
}
.nav > li > a {
    color: #72523d; /* Color de la letra de los elementos del menú */
    background-color: #c99e67; /* Color de fondo de los elementos del menú */
    padding: 10px 15px; /* Espaciado interno para los elementos del menú */
    text-decoration: none; /* Sin subrayado */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s; /* Transición suave para el fondo */
}
.nav > li > a:hover {
    color: white; /* Color de la letra al pasar el mouse */
    text-decoration: underline; /* Subrayado al pasar el mouse */
    text-decoration-color: white; /* Color del subrayado */
}


    .hero{
        background-image: url(img/Postre.jpg);
        width: 100%;
        height: 650px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        margin-top: -90px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        
    }

    .hero img{
        width: 100%;
        height: 250%;
        margin-left: -125%;
        margin-top: 25%;
        

    }
    
    
    
    .textos-hero {
        height: 500px; /* Cambia a auto para que se ajuste al contenido */
        color: #fff;
        display: flex; /* Asegúrate de que el contenedor sea un flexbox */
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 35%;
        padding: 20px; /* Añade un padding para que el contenido no esté pegado a los bordes */
    }
    
    .textos-hero img {
        max-width: 60%; /* Limita el ancho de la imagen al 60% del contenedor */
        height: auto; /* Mantiene la proporción de la imagen */
        margin-bottom: 5px; /* Espacio entre la imagen y el enlace */
        position: relative; /* Permite mover la imagen sin afectar otros elementos */
        top: -70px; /* Ajusta este valor para que la imagen esté en su posición original */
        left: 410px; /* Ajusta este valor para que la imagen esté más a la derecha */
    }
    
    .textos-hero a {
        display: inline-block;
        text-decoration: none;
        padding: 12px 15px;
        background: #72523d;
        border-radius: 8px;
        color: #fff;
        position: relative; /* Agrega esta propiedad para poder mover el enlace */
        left: -230px; /* Ajusta este valor para que el enlace esté más a la derecha */
        top: -250px;
    }
    
    .textos-hero h1 {
        font-size: 2.5em; /* Aumenta el tamaño de fuente del título */
        margin: 20px 0; /* Aumenta el margen superior e inferior para bajarlo un poco */
        text-align: left; /* Alinea el texto a la izquierda */
        position: relative; /* Permite mover el título sin afectar otros elementos */
        left: -240px; /* Ajusta este valor para que el título esté más a la derecha */
        top: 375px; /* Ajusta este valor para subir el título */
        font-family: "Alata"; /* Usa la fuente en tu CSS */
        font-weight: 400;
        font-style: normal;
        font-size: 55px;
    }
    
   
    a {
        color: #72523d; /* Color del texto */
        text-decoration: none; /* Sin subrayado */
        transition: transform 0.3s ease; /* Transición suave para el movimiento */
    }
    
    a:hover {
        text-decoration: underline; /* Subrayar al pasar el mouse */
        color: #f2f2f2;
    }
    css

.terminos {
    color: #f2f2f2; /* Cambiar el color del texto del párrafo */
}

.terminos a {
    color: #73388d; /* Cambiar el color del enlace */
    text-decoration: none; /* Sin subrayado */

}

.terminos a:hover {
    text-decoration: underline; /* Subrayar al pasar el mouse */
    color: #f2f2f2;/* Cambiar el color del enlace al pasar el mouse */
}
.ya-tengo-cuenta a {
    color:  #73388d; /* Cambiar el color del enlace */
    text-decoration: none; /* Sin subrayado */
    font-size: 15px;
}

.ya-tengo-cuenta a:hover {
    text-decoration: underline; /* Subrayar al pasar el mouse */
    color: #f2f2f2; /* Cambiar el color del enlace al pasar el mouse */
}



    
    


    .product{
        background: #f2f2f2;
    }
    
    .product-cont{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        overflow: hidden;
    }
    
    .product-cont>img{
        width: 30%;
        object-fit: cover;
        margin-bottom: 20px;
        display: block;
        box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .5);
        cursor: pointer;
        overflow: hidden;
    }


    .tarjeta a{
        display: inline-block;
        margin-top: 40px;
        color: #72523d;
        
    }

    
    .tarjeta{
        background-color: #997d5a;
        height: 5px;
        padding: 5px;
        margin: 4%;
        
            font-family: "Alata", sans-serif;
            font-weight: 400;
            font-style: normal;
          
          
        color: #fff;
    }

    .postres{
        background-color: #997d5a;
        color: #fff;
        padding-bottom: 5px;
    }

    .postres a {
        display: block; 
        margin-top: 110px; 
    }







    h3 {
        text-align: center;
        font-size: 2rem;
        padding-top: 25px;
        color: #fff;
      }
      
      .slider-frame {
        position: relative;
        max-width: 600px; /* Ajusta el ancho máximo del carrusel */
        margin: auto; /* Centra el carrusel */
        overflow: hidden; /* Oculta las imágenes que están fuera del contenedor */
    }
    
    .carousel {
        display: flex; /* Muestra las imágenes en una fila */
        position: relative;
    }
    
    .carousel-images {
        display: flex; /* Muestra las imágenes en una fila */
        transition: transform 0.5s ease; /* Transición suave al mover las imágenes */
        padding: 0; /* Elimina el padding */
        margin: 0; /* Elimina el margin */
    }
    
    .carousel-images li {
        list-style: none; /* Elimina los puntos de la lista */
        flex: 0 0 100%; /* Cada imagen ocupa el 100% del ancho del contenedor */
    }
    
    .carousel-images img {
        width: 100%; /* Asegúrate de que las imágenes ocupen todo el ancho del contenedor */
        height: auto; /* Mantiene la proporción de la imagen */
    }
    
    button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: #997d5a(255, 255, 255, 0.7); /* Fondo semi-transparente */
        border: none;
        cursor: pointer;
        padding: 10px;
        z-index: 1; /* Asegúrate de que los botones estén por encima de las imágenes */
    }
    
    .prev {
        left: 10px; /* Posición del botón anterior */
    }
    
    .next {
        right: 10px; /* Posición del botón siguiente */
    }
    .carousel-images li {
        list-style: none; /* Elimina los puntos de la lista */
        flex: 0 0 100%; /* Cada imagen ocupa el 100% del ancho del contenedor */
        position: relative; /* Permite posicionar elementos hijos */
        display: flex; /* Permite usar flexbox para centrar */
        justify-content: center; /* Centra horizontalmente */
        align-items: center; /* Centra verticalmente */
        flex-direction: column; /* Alinea los elementos en columna */
    }
    
    .info-box {
        text-align: center; /* Centra el texto dentro de la caja */
        padding: 10px; /* Espaciado interno */
        background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semi-transparente */
        border-radius: 8px; /* Bordes redondeados */
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidad */
        width: 80%; /* Ancho de la caja */
        color: #72523d;
    }
    
    .info-box h4 {
        font-size: 2em; /* Aumenta el tamaño de la fuente del título */
        margin: 0; /* Elimina el margen del título */
    }
    
    .price-list p {
        font-size: 1.5em; /* Aumenta el tamaño de la fuente del precio */
        margin: 5px 0 0; /* Espacio entre el precio y el título */
        color: #72523d;
    }













    .form-reg{
        width: 400px;
        background-color: #997d5a;
        padding: 30px;
        margin: auto;
        margin-top: 50px;
        border-radius: 4px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: antiquewhite;
        box-shadow: 7px 13px 37px #000;
    }
    h4{
        font-size: 22px;
        margin-bottom: 20px;
    }
    .controls{
        width: 100%;
        background-color: #997d5a;
        padding: 10px;
        border-radius: 4px ;
        margin-bottom: 16px;
        border: 1px solid #fff;
        
            font-family: "Alata", sans-serif;
            font-weight: 400;
            font-style: normal;
          
          
        font-size: 18px;
        color: #fff;
    }
    p{
        height: 40px;
        text-align: center;
        line-height: 40px;
        font-size: 12px;
        color: #fff;
        margin-top: -15%;
    }
    
    a:hover{
        color: white;
        text-decoration: underline;
        padding: 5%;
    }
    .botons{
        width: 100%;
        background-color: #1f53c5;
        border: none;
        padding: 12px;
        color: white;
        margin: 16px 0;
        font-size: 16px;
    }
    .controls::placeholder{
        color: #fff;
    }






































body{
    width: 100%;
    height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.6;
}

.tarjeta{
    text-align: center;
    font-size: 40px;
    color: #fff;
    margin-top: 30px;
    font-weight: 100;
}
.contenedor{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;
    margin: auto;
}

.postres{
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}
.postres:hover{
    transform: translateY(-15px);
}
img{
    width: 230px;
    height: 200px;
}


.postres p{
    margin-top: -30px;

}




.website{
    display: flex;
    justify-content: space-between;
    padding-right: 15%;
}

.website img{
    width: auto;
    height: 450px;
    margin-left: 25%;
    padding: 50px;
}


.website .contenedor-textos-main {
    width: 40%;
    padding: 0 20px; /* Ajustar el padding lateral */
    margin-top: 5px;
    
    
    
}

.parrafo {
    text-align: justify;
    margin-bottom: 20px;
    padding: 25px; /* Reducir el padding */
    padding-left: 5px;
   
}

.cta {
    display: inline-block;
    text-decoration: none;
    padding: 12px 15px;
    border-radius: 8px;
    background-color: #c99e67;
    color: #fff;
    margin-top: 130px; /* Ajusta este valor según sea necesario */
}

.contenedor-textos-main h2{
    padding: 50px;
    padding-right: 50%;
    margin-top: 2%;
    color: #fff;
}
html{
    scroll-behavior: smooth;
}


